<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="../index.html" class="header-logo link logo-icon"
        ><span>SIMPLY</span> CHOCOLATE
        <svg
          class="header-logo-icon"
          width="21"
          height="21"
        >
          <use href="../img/img.svg#icon-logo"></use></svg>
      </a>
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="#how it’s made?" class="nav-link">How it’s made?</a>
        </li>
        <li class="nav-item">
          <a href="#our products" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#top sellers" class="nav-link">Top sellers</a>
        </li>
        <li class="nav-item">
          <a href="#chocolate is loved" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>
      </nav>
      <div class="header-social">
        <ul class="header-social-list list">
          <li class="header-social-item">
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><svg class="header-social-icon" width="22" height="22">
                <use href="../img/img.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-item">
            <a
              href="https://twitter.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><svg class="header-social-icon tw" width="20" height="20">
                <use href="../img/img.svg#icon-twitter"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- --------Mobile menu----------- -->
    <button type="button" class="menu-open"><svg class="menu-open-icon" width="28" height="28">
        <use href="../img/img.svg#icon-burger"></use>
      </svg>
  </button>
  </div>
  <div><button></button>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
</header>
